obj/Debug/net6.0/MinimalApi.AssemblyInfo.cs
obj/Debug/net6.0/MinimalApi.AssemblyInfo.cs
obj/Debug/net6.0/MinimalApi.AssemblyInfoInputs.cache
obj/Debug/net6.0/MinimalApi.assets.cache
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/MinimalApi.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/MinimalApi.AssemblyInfo.cs
/.vs/MinimalAPI
